@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground);
   */
   background-color: #0F1115;
   color:#F5F5F5;
}

@theme {
  --font-jakarta: var(--font-jakarta);
  --text-big: 4rem;
  --tracking-extra: 0.015em;
  --rounded-big:2.5rem;
}

@theme {
  --color-golden: #C19E5B;
  --color-green:  #095552;
  --color-offwhite:  #F5F5F5;
  --color-siteBlack:  #0F1115;
  --breakpoint-xs: 30rem;
}

section{
  padding-left:20px;
  padding-right: 20px;

  @media only screen and (max-width:1240px){
    padding: 0 36px;
  }
}

.container{
  max-width: 1274px;
  margin-left: auto; 
  margin-right: auto;
}

.home_desc_block{
  /* border: 0.82px solid;
  border-image-source: 
    linear-gradient(107.22deg, rgba(1, 45, 42, 0.3) 4.49%, rgba(3, 147, 137, 0.15) 61.83%),
    linear-gradient(102.01deg, rgba(1, 45, 42, 0) 12.61%, rgba(1, 45, 42, 0.1) 103.11%);
  border-image-slice: 1; */
}

/* *{
  border:1px solid red;
} */